html{
    background-color: black;
    text-align: center;
 }
 
div{
    width: 50%;
    margin-left: 25%;
}

h1{
    text-transform: capitalize;
    font-family: 'Libre Baskerville', serif;
    color: white;
    background-color: black;
}

p{
    color: white;
    background-color: black;
    align-items: center;
}

img{
    width: 100%;
    border: 5px solid white;
}